@model RestaurantSiteComenzi.Models.Produs

@{
    ViewData["Title"] = "Edit";
}
<head>
    <link href="@Url.Content("~/css/form.css")" rel="stylesheet" type="text/css" />
</head>

<h1>Editare Produs</h1>

<div class="div-form">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nume_Produs" class="control-label"></label>
                <input asp-for="Nume_Produs" class="form-control" />
                <span asp-validation-for="Nume_Produs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pret_Produs" class="control-label"></label>
                <input asp-for="Pret_Produs" class="form-control" />
                <span asp-validation-for="Pret_Produs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagine" class="control-label"></label>
                <input asp-for="Imagine" class="form-control" />
                <span asp-validation-for="Imagine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvează" class="btn btn-primary" />
            </div>
        </form>

</div>

<div>
    <a asp-action="Index">Înapoi la tabel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
