@{
	ViewData["Title"] = "Multumim!";
}

<link href="@Url.Content("~/css/OrderSent.css")" rel="stylesheet" type="text/css" />


<br>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-radius:30px">
	<tr>
		<td align="center" style="padding: 0px 10px 0px 10px;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
				<tr>
					<td bgcolor="#f5f5ff" align="center" valign="top" style="padding: 40px 20px 20px 20px; border-radius: 10px; color: darkslategrey; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; letter-spacing: 4px; line-height: 48px;">
					  <h2 style="font-size: 40px; font-weight: 900;">Pizzerie</h2>
						<br>
						<div class="containerOrder">
						  <p class="complete-order">Mulțumim!</p>
						  <div class="truck">
							<div class="back">
							  <div class="doors left"></div>
							  <div class="doors right"></div>
							</div>
							<div class="front">
							  <div class="window"></div>
							  <div class="light"></div>
							  <div class="light right"></div>
							</div>
						  </div>
						  <div class="dashed-line">
							-----------------------------------------------------------------
						  </div>
						  <div class="box"></div>
						</div>
						<br>
					  <h2 style="font-size: 30px; font-weight: 700;">Comanda ta este pe drum!</h2>
					</td>
				</tr>
			</table>
		</td>
	</tr> 
</table>	