@model RestaurantSiteComenzi.Models.Comenzi

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Comenzi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="User_ID" class="control-label"></label>
                <input asp-for="User_ID" class="form-control" />
                <span asp-validation-for="User_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress_ID" class="control-label"></label>
                <select asp-for="Adress_ID" class="form-control" asp-items="ViewBag.Adress_ID"></select>
                <span asp-validation-for="Adress_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tip_Plata_ID" class="control-label"></label>
                <select asp-for="Tip_Plata_ID" class="form-control" asp-items="ViewBag.Tip_Plata_ID"></select>
                <span asp-validation-for="Tip_Plata_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total_Plata" class="control-label"></label>
                <input asp-for="Total_Plata" class="form-control" />
                <span asp-validation-for="Total_Plata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_Comanda" class="control-label"></label>
                <input asp-for="Data_Comanda" class="form-control" />
                <span asp-validation-for="Data_Comanda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stare_Comanda_ID" class="control-label"></label>
                <select asp-for="Stare_Comanda_ID" class="form-control" asp-items="ViewBag.Stare_Comanda_ID"></select>
                <span asp-validation-for="Stare_Comanda_ID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Is_Deprecated" /> @Html.DisplayNameFor(model => model.Is_Deprecated)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

