@{
    ViewData["Title"] = "Comenzi";
}

<link href="@Url.Content("~/css/EmptyOrders.css")" rel="stylesheet" type="text/css" />

<div style="text-align: center;">
    <h1>Comenzi</h1>
    <h7>Panou de gestionare a comenzilor</h7>
</div>

<hr/>

<div class="empty-card">
    <div class="title">Panoul de gestionare a comenzilor este gol</div>
    <div class="textBox mrg-btm-sm">
        <div>Momentan nu există comenzi înregistrate.</div>
    </div>
</div>

<hr/>

<div style="text-align:center">
    <a href="Comenzi" class="btn btn-secondary btn-sm">Înapoi</a>
</div>