@{
    ViewData["Title"] = "Comenzi";
}

<link href="@Url.Content("~/css/EmptyOrders.css")" rel="stylesheet" type="text/css" />

<div style="text-align: center;">
    <h1>Comenzi</h1>
    <h7>Panou de gestionare a comenzilor</h7>
</div>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>
                ID comanda:
            </th>
            <th>
                Utilizator:
            </th>
            <th>
                Telefon:
            </th>
            <th>
                Adrese.Strada
            </th>
            <th>
                Adrese.Numar
            </th>
            <th>
               Tip_plata
            </th>
            <th>
                Total_Plata
            </th>
            <th>
                <div id="state" class="dropdown">
                    <button class="dropdown-toggle"
                        type="button" id="dropdownMenuButtonState" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false">Status
                    </button>
                </div>
            </th>
            <th>
               Data_Comanda
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="empty-card">
                <div class="title">Panoul de gestionare a comenzilor este gol</div>
                <div class="textBox mrg-btm-sm">
                    <div>Momentan nu există comenzi înregistrate.</div>
                </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>