@model RestaurantSiteComenzi.Models.ComandaLivrare

@{
    ViewData["Title"] = "Create";
}

<head>
    <link href="@Url.Content("~/css/form.css")" rel="stylesheet" type="text/css" />
</head>


<h1>Crează o comandă nouă:</h1>

<div class="div-form">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nume" class="control-label"></label>
                <input asp-for="Nume" class="form-control" />
                <span asp-validation-for="Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenume" class="control-label"></label>
                <input asp-for="Prenume" class="form-control" />
                <span asp-validation-for="Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oras" class="control-label"></label>
                <input asp-for="Oras" class="form-control" />
                <span asp-validation-for="Oras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strada" class="control-label"></label>
                <input asp-for="Strada" class="form-control" />
                <span asp-validation-for="Strada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numar" class="control-label"></label>
                <input asp-for="Numar" class="form-control" />
                <span asp-validation-for="Numar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bloc" class="control-label"></label>
                <input asp-for="Bloc" class="form-control" />
                <span asp-validation-for="Bloc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scara" class="control-label"></label>
                <input asp-for="Scara" class="form-control" />
                <span asp-validation-for="Scara" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apartament" class="control-label"></label>
                <input asp-for="Apartament" class="form-control" />
                <span asp-validation-for="Apartament" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numar_Telefon" class="control-label"></label>
                <input asp-for="Numar_Telefon" class="form-control" />
                <span asp-validation-for="Numar_Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stare_Comanda_ID" class="control-label"></label>
                <input asp-for="Stare_Comanda_ID" value="1" class="form-control" />
                <span asp-validation-for="Stare_Comanda_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adaugă" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Înapoi la listă</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
