@model RestaurantSiteComenzi.Models.Livrator

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Livrator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nume_Livrator" class="control-label"></label>
                <input asp-for="Nume_Livrator" class="form-control" />
                <span asp-validation-for="Nume_Livrator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenume_Livrator" class="control-label"></label>
                <input asp-for="Prenume_Livrator" class="form-control" />
                <span asp-validation-for="Prenume_Livrator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefon_Livrator" class="control-label"></label>
                <input asp-for="Telefon_Livrator" class="form-control" />
                <span asp-validation-for="Telefon_Livrator" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Statut_Livrator" /> @Html.DisplayNameFor(model => model.Statut_Livrator)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
