@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

.size span {
    font-size: 11px
}

.color span {
    font-size: 11px
}

.product-deta {
    margin-right: 70px;

}

.text-grey {
    color: #a39f9f
}

.qty i {
    font-size: 11px
}

.product_data {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: white;
    height: 100px;
}
    .product_data:hover {
        height: 100px;
        box-shadow: 0 4px 8px 0 rgb(13, 110, 253, 0.2);
        background-color: aliceblue;
    }

.deleteCartBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.refresh-cart {
    color: red;
    font-weight: bold;
    animation-name: refresh-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

img {
    width: 110px;
    height: 100px;
    object-fit: cover;
    object-position: 55%;
    transform: scale(0.6) translate(0, 1%);
}

@keyframes refresh-animation {
    0% {
        text-shadow: none;
    }

    50% {
        text-shadow: 0px 0px 10px orange;
    }

    100% {
        text-shadow: none;
    }
}