/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 10px 10px;
    height: 490px;
}
/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Responsive columns */
@media screen and (max-width: 783px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: white;
}

    .card:hover {
        box-shadow: 0 4px 8px 0 rgb(13, 110, 253, 0.2);
        background-color: aliceblue;
    }

.card-body {
    height: 120px;
}

img {
    height: 150px;
    object-fit: contain;
}

.dropdown-toggle {
    background-color: #0d6efd;
}