html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

h1 {
    text-align: center;
}

a:hover{
    background: #ffffff;
    border-color: black;
    color: black;
}

.add, .edit, .save, .delete {
    outline: none;
    background: none;
    margin: 2px;
}


.add {
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.save {
    background: #32AD60;
    color: #ffffff;
}

.edit {
    background: #2199e8;
    color: #ffffff;
}

.delete {
    background: #EC5840;
    color: #ffffff;
}

.icon{
    font-size:15px;
}

#qty_display {
    border-width: 0px;
    border-color: white;
    background-color:transparent;
    width: 35%;
    margin:0px 10px;
}
    #qty_display:focus {
        outline: none;
    }
    i:hover, #remove-hover:hover {
        background-color: transparent;
    }
#qty_select {
    border: solid #0d6efd;
    border-width: 1px 1px;
    border-radius: 10px;
}

    #qty_select:hover {
        border-width: 1px 1px;
        box-shadow: 0 0 10px 2px rgba(13, 110, 253, 0.2);
    }