@{
    ViewData["Title"] = "Coș de cumpărături";
}

<link href="@Url.Content("~/css/EmptyCart.css")" rel="stylesheet" type="text/css" />


<div class="empty-card">
    <div class="title">Coșul tău este gol</div>
    <div class="textBox mrg-btm-sm">
        <div>Pentru a adăuga produse în coș</div>
        <div>te rugăm să te întorci la meniu.</div>
    </div>
    <a href="/" class="empty-cart-primary-btn btn btn-primary">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Întoarcere la meniu
    </a>
</div>